/* CSS styles for the Bitcoin Price Tracker */
body {
    margin: 0;
    padding: 0;
    background: #202020;
    color: #ffffff;
    font-family: monospace, Arial;
    font-size: 12px;
    font-feature-settings: normal;
    overflow-x: hidden;
    text-align: center;
}

a {
    color: #ff7500;
}

a:hover {
    color: rgb(149, 0, 207);
}

.container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #282828;
    border: 3px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center; /* Center items vertically within the container */
    justify-content: center; /* Center items horizontally within the container */
}
.price-display {
    width: auto;
    margin-right: 10px;
    padding: 10px;
    display: flex; /* Add this to create a flexbox layout */
    align-items: center; /* Center items vertically within the container */
    justify-content: center; /* Center items horizontally within the container */
}

h1 {
    color: #ff7500;
}

#bitcoin-price {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.bitcoin-logo {
    height: 50px;
    /* Adjust this to match the font size of the Bitcoin price */
    width: 50px;
    margin-right: 10px;
    /* Add some space between the logo and the price */
}

.bitcoin-logo img {
    height: 50px;
    /* Adjust this to match the font size of the Bitcoin price */
    width: 50px;
    /* Add some space between the logo and the price */
}

#dollars-to-sats {
    font-size: 24px;
    font-weight: semi-bold;
    text-align: center;
    margin: 10px;
}

.affiliates {
    max-width: 60%;
    max-height: 25%;
    position: fixed;
    bottom: 5%;
    right: 0%;
    padding: 10px;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

.affiliates img {
    justify-content: center;
    margin: 10px;
    float: left;
    width: 16px;
    height: auto;
    padding-right: 10px;
}

.affiliate1{
    padding: 10px;
    border: #ffffff;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    margin: 10px;
    height: fit-content;
}
.affiliate2{
    padding: 10px;
    border: #ffffff;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    margin: 10px;
    height: fit-content;
}
.affiliate3{
    padding: 10px;
    border: #ffffff;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    margin: 10px;
    height: fit-content;
}
