.settings {
    width: auto;
    display: flex;
    align-items: center;
}

.settings img {
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    margin-right: 10px; /* Add margin to separate cog image from dropdowns */
}

.theme-dropdown,
.currency-dropdown {
    flex: 1; /* Distribute available space equally among dropdowns */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align theme dropdown to the right */
    margin-right: 8px; /* Add some space between the dropdowns */
}

.currency-dropdown {
    justify-content: center; /* Align currency dropdown to the center */
}

#theme-select,
#currency-select {
    width: auto;
    max-width: 130px;
    overflow: hidden; /* Cut off overflow */
    text-overflow: ellipsis; /* Show ellipsis (...) for cut-off content */
    white-space: nowrap; /* Prevent line breaks */
    height: 40px;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: monospace;
}
